# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.venv/
venv/
env/

checkpoints/
*.pt
*.pth
*.ckpt

data/
*.bin
*.txt

.ipynb_checkpoints/

.vscode/
.idea/
*.swp
.DS_Store

*.log
wandb/
runs/